:host{
    display: block;
}

.wrap-list-group{
    overflow-y: auto;
    height: calc(100vh - 2rem);
}

.list-group{
    position: relative;
    padding-top: 3.5rem;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item__first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
}

.list-group-item:nth-child(2){
    border-top: none;
}

.input--text{
    position: absolute;
    width: calc(100% - 2.5rem);
    top: 0.55rem;
    left: 1.25rem;
    line-height: 1;
}

.item-preview{
    position: relative;
    min-height: 60px;
    font-size: 0.825rem;
}

.item-preview__wrap-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
}

.item-preview__img{
    width: 60px;
    height: 60px;
}

.item-preview__text{
    padding-left: 80px;
}